.titlePage2 {
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5rem;
}
.bioPage2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
}
.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  gap: 2rem;
  font-size: 25px;
  padding-bottom: 3rem;
}
.listOfQR2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-color: rgba(255, 255, 255, 0.116);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
}
.allOfClues2 {
  height: 30rem;
  overflow-y: scroll;
  width: 40rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 1rem;
}
.QRCodes2 {
  text-align: center;
  padding: 1rem 5rem;
  font-size: 1.5rem;
  z-index: 50;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #8dffcd;
  background-color: rgb(80, 80, 80);
  cursor: pointer;
  transition: border-color 0.25s;
}
.qr-btn {
  z-index: 50;
}

/* .scanQRCode nav-bar {
  padding: 0rem;
  box-shadow: none;
} */
