.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .title {
  font-size: 2rem;
  margin-right: 19rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #111010;
}
.nav-btn2 {
  position: relative;
  top: 3rem;
  left: 5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #c04203;
  border-radius: 1rem;
  color: white;
}
@media screen and (max-width: 768px) {
  .nav-bar .title {
    display: none;
  }
}
