.nav-bar {
  background-color: rgba(0, 0, 0, 0);
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-bar h2 {
  font-size: 1.5rem;
}

.nav-bar .title {
  margin-right: 3rem;
  font-size: 2rem;
  color: #333333;
}
