.leaderboardsContainer {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}
.titleOfLeaderBoards {
    font-size: 3rem;
    margin-bottom: 3vh;
    width: 25rem;
    margin-left: 35%;
    text-align: center;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-weight: bold;
}
.leaderboards {
  width: 90%;
  margin-left: 2rem;
  height: fit-content;
  background-color: #0c0d0e6e;
  border-radius: 2rem;
}
.leaderboards th {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #0c0d0e;
  text-align: center;
}
.leaderboards td {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #eaffda;
  text-align: center;
  padding-bottom: 3%;
}
