.leaderboardsContainer {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titleOfLeaderBoards {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.leaderboards {
  width: 90%;
  margin-left: 2rem;
  height: fit-content;
  background-color: #0c0d0e6e;
  border-radius: 2rem;
}
.leaderboards th {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #0c0d0e;
  text-align: center;
}
.leaderboards td {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #eaffda;
  text-align: center;
  padding-bottom: 3%;
}
