.leaderboardsContainer {
  padding-top: 7vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 95vh;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/mainPageBack.png");
}
.titleOfLeaderBoards {
  font-size: 3rem;
  margin-right: 6rem;
  padding-bottom: 2vh;
  margin-bottom: 4vh;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
}
.leaderboards {
  width: 90%;
  margin-left: 2rem;
  height: fit-content;
  background-color: #0c0d0e6e;
  border-radius: 2rem;
}
.leaderboards th {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #0c0d0e;
  text-align: center;
}
.leaderboards td {
  padding: 1vh 1vh 1vh 1vh;
  height: fit-content;
  color: #eaffda;
  text-align: center;
  padding-bottom: 3%;
}
