.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlePage {
  color: black;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 7rem;
}
.bioPage {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 30px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 7rem;
  font-size: 20px;
}
.PrintQR {
  width: 20rem;
  cursor: pointer;
  z-index: 50;
}
.listOfQR {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  background-image: linear-gradient(
    to right,
    rgba(207, 195, 104, 0.348),
    rgba(99, 177, 211, 0.366)
  );
  border-radius: 25px;
}
.allOfClues {
  height: 30rem;
  overflow-y: scroll;
  width: 40rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
}
.QRCodes {
  text-align: center;
  border-radius: 25px;
  padding: 2rem 5rem;
  background-color: #333333;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
