.fullPage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("/mainPageBack.png");
}

.admin-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
