.fullPage{
    min-width: 320px;
    min-height: 130vh;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-image: url("../public/mainPageBack.png");
}