/* -------------------------------------------------- */
.scanContainer {
  padding-top: 7vh;
  height: 95vh;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2vh;
}
video {
  border-radius: 5px;
  height: 80vh;
}
