.previous-button{
    margin-left: 2rem;
    width: 8rem;
    background-color: #e55d23;
    margin-right: 18rem;
}
.nav-link{
    color: #8DFFCD;
    font-size: 1.3rem;
    font-weight: 200;
    margin-left: 2rem;
}