.row {
  position: relative;
}
.text-center {
  text-align: center;
  color: #ccc;
  margin-bottom: 2rem;
}

.cont {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nprogress-bar {
  -webkit-appearance: none;
  width: 22%;
  color: #ccc;
  height: 2px;
  margin-top: 4rem;
}

#first,
#second,
#third,
#fourth {
  margin: 0px;
}
#step span {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  border: 3px solid #e2e2e2;
  background: #e2e2e2;
  position: absolute;
  left: 0;
  top: 0.5rem;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

#step .first {
  left: 39%;
}

#step .second {
  left: 49.5%;
}
#step .third {
  left: 60%;
}
.detail {
  position: relative;
}
#nprogress-bar::-webkit-progress-value {
  /* Changes line color */
  background: #c04203;
  transition: all 0.4s ease-in-out;
}
#nprogress-bar::-webkit-progress-bar {
  /* Changes background color */
  background: #ccc;
}
#step .border-change {
  border-color: #5d3a03;
  background: #c04203;
  transition: all 0.4s ease-in-out;
}
