.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  position: relative;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10%;
}
thead {
  background-color: #767373;
}
table,
th,
td {
  font-size: 1.5rem;
  border: 2px solid #ddd;
  height: 100%;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

tbody tr:hover {
  background-color: #8bd961;
  cursor: pointer;
}

.add-button {
  position: absolute;
  font-size: 20px;
  width: 15%;
  margin-left: 70%;
  margin-top: 10%;
}

.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  width: 100vw;
}
