.scanContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
.ScanTitle {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.scanContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3rem;
}

video {
  border-radius: 3rem;
  height: 80vh;
  width: 85rem;
}
