.search {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 1rem;
}

input[type="number"] {
  border-radius: 10px;
  border: none;
  width: 40%;
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.544);
  box-shadow: 0px 0px 0px #88888871;
  padding: 0.7rem 0rem;
  font-size: 1.1rem;
}

.login,
.profile {
  background-color: #a73200;
  color: white;
  padding: 0.5rem 2rem;
  border: #767373;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 1rem;
}

.profile {
  background-color: #ffffff00;
  color: #000000;
  font-weight: 500;
  text-decoration: underline;
}

.user-name {
  margin-right: 1rem;
}

/*Hamburger button*/

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #00baf0;
  background: linear-gradient(to left, #293526, #c04203);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 2rem;
  padding: 0.5rem;
  width: 10rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #ffffffdc;
  position: absolute;
  height: 0.2rem;
  width: 1.5rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}
.menu {
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#menu-toggle ~ .menu li {
  width: 10rem;
  font-size: 1rem;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0.5rem 0rem;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li:not(first-child) {
  margin-top: 0.2rem;
}
.menu > li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0.5em 0;
  width: 100%;
  color: white;
  background-color: #000000cf;
}
.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

/* end of hamburger button */
