.progressContainer {
  display: flex;
}
.progressTitle {
  font-size: 3rem;
  margin-bottom: 3vh;
  width: 20rem;
  margin-left: 35%;
  text-align: center;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
}

.pieChart {
  margin-top: 8%;
  margin-right: 3rem;
}
.currentClue {
  padding: 2rem 2rem;
  background-color: #46414177;
  border-radius: 2rem;
  
}
.currentClues {
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 4%;
  color: #8dffcd;
}
.currentClue ul {
  width: 100%;
}
.solvedTitle {
  font-size: 3rem;
  font-weight: 500;
  padding-bottom: 4%;
  color: #8dffcd;
}
.clues {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 2% 2%;
  color: #edfcb4;
  font-size: 1.25rem;
}
.scrollableList {
  overflow-y: auto;
  height: 80%;
}
.solvedClues {
  margin-top: 10%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #46414165;
  border-radius: 2rem;
  height: 60%;
}

.solvedClues ul,
.currentClue ul {
  list-style-type: none;
}
.solvedClues li {
  padding-top: 1.5%;
  border-bottom: 2px solid #141111;
}

/* Add custom square bullet points */
.solvedClues li,
.currentClue li {
  position: relative;
  padding-left: 1.5em;
  padding-bottom: 1%;
}

.solvedClues li::before,
.currentClue li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 0.9em;
  height: 0.9em;
  border-radius: 50%;
  background-color: #69bf4f;
}
.currentClue li::before {
  background-color: #ffc36b;
}
